<div class="message-card <%= message.user == current_user ? 'right' : 'left' %>">
    <% if message.user != current_user %>
      <div>
        <%= cl_image_tag message.user.photo, class:"avatar-sm mr-3" %>
      </div>
    <% end %>

    <div>
        <h6>
            <%= message.message_time %>
        </h6>
        <p>
            <%= message.content %>
        </p>
    </div>

    <% if message.user == current_user %>
      <div>
        <%= cl_image_tag message.user.photo, class:"avatar-sm ml-4" %>
      </div>
    <% end %>
</div>
