<!-- app/views/messages/index.html.erb -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-items-center w-100">
    <a href="javascript:history.back()"> <i class="fas fa-chevron-left"></i></a>
    <%= cl_image_tag @food.donor.user.photo, class: "avatar-sm mr-2" %>
    <p class="mb-0"><strong> Chat with
            <% if current_user == @donation.user %>
              <%= link_to user_path(@food.donor.user) do %>
                @<%= @food.donor.user.username %>
              <% end %>
            <% else %>
              <%= link_to user_path(@food.donor.user) do %>
                @<%= @donation.user.username %>
              <% end %>
            <% end %>
        </strong>
    </p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mt-2">
                <%= link_to "Home", root_path, class: "dropdown-item"  %>
            </li>
            <li class="nav-item">
                <%= link_to "User Profile", user_path(current_user), class: "dropdown-item"  %>
            </li>
            <li class="nav-item">
                <%= link_to "Messages", user_donations_path(current_user), class: "dropdown-item" %>
            </li>
            <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
    </div>
</div>
<%= link_to food_path(@food) do%>
<% coordinates = [ @food.latitude , @food.longitude ] %>
<div class="product-card w-100 mx-0 mb-3">
    <%= cl_image_tag @food.photo%>
    <div class="product-card-infos">
        <h2 style="color: $text-dark">
            <%= @food.name %>
        </h2>
        <% end %>
        <% if @donation.confirmed %>
        <p> Meeting confirmed.</p>
        <% end %>
    </div>
</div>
<div class="mb-4 px-2">
    <div class="d-flex mb-3">
        <% if @donation.food.donor.user == current_user && @donation.confirmed %>
        <div class="mr-2">
            <%= simple_form_for @donation do |f| %>
            <%= f.hidden_field :confirmed, value:false %>
            <%= f.submit "Cancel", class: "btn btn-primary" %>
            <% end %>
        </div>
        <% end %>
        <% if @donation.food.donor.user == current_user && !@donation.confirmed %>
        <div class="mr-2">
            <%= simple_form_for @donation do |f| %>
            <%= f.hidden_field :confirmed, value:true %>
            <%= f.submit "Accept", class: "btn btn-primary" %>
            <% end %>
        </div>
        <% end %>
        <%= link_to new_donation_review_path(@donation) do %>
        <div class="btn btn-primary">
            Give a Review
        </div>
        <% end %>
    </div>
    <div class="message-holder px-2">
        <% @messages.each do |message| %>
        <% if message.content %>
        <% user = User.find(message.user.id) %>
        <% message.check_if_read(current_user) if !message.read %>
        <%= render 'message', message: message %>
        <% end %>
        <% end %>
    </div>
    <div class="cardform mb-2 mx-2">
        <%= simple_form_for [@donation, @message], html: { class: "input-group", style: "height:56px;" } do |f| %>
        <%= f.hidden_field :user, value: current_user %>
        <%= f.text_field :content, placeholder: "Your message", class: "form-control input-lg" %>
        <%= f.submit "Send", class: "btn btn-primary mb-3 ml-3" %>
        <% end %>
    </div>
</div>
