<% if @events.empty? %>
  No confirmed meetings yet!
<% else %>
<% @events.each do |donation| %>
<% if donation.confirmed  %>
<div class="card-hori">
    <div class="card-photo">
        <%= cl_image_tag donation.food.photo%>
    </div>
    <div class="card-content">
        <p><strong>
                <%= donation.food.name %>
            </strong>
        </p>
        <p>
            <%= donation.food.donor.user.username %>
        </p>
        <p>
            <%= link_to "View Chat", donation_messages_path(donation) %> |
            <%= link_to "Leave a review", new_donation_review_path(donation)  %>
        </p>
    </div>
</div>
<% end %>
<% end %>

<% end %>
