<%= render 'shared/user-profile' %>
<% if @user.donor %>
<%= @user.donor.bio %>
<h2> Where to Meet </h2>
<p>Preferred Pick-Up Time:
    <%= @user.donor.pickup_start_time.strftime("%I:%M %p") %> -
    <%= @user.donor.pickup_end_time.strftime("%I:%M %p")  %>
</p>
<p>Preferred Pick-Up Day:
    <%= @user.donor.pickup_days %>
    <p>Preferred Location:</p>
    <% end %>
    <ul class="list-inline tabs-underlined">
        <li>
            <%= link_to "Listings", user_foods_path(@user), remote: true, class: "tab-underlined active" %>
            <!-- <a href="#" class="tab-underlined active">Listings</a> -->
        </li>
        <li>
            <a href="#" class="tab-underlined">Reviews</a>
        </li>
    </ul>
    <div class="card-vert-grid">

        <% @user.foods.each do |food| %>
        <%= render 'foods/card',food: food, user: @user %>
        <% end  %>
    </div>
