<%= render 'shared/user-profile' %>
<% if @user == current_user %>
<h1> insert the edit profile button here </h1>
<% end %>

<div>
    <%= @user.bio %>
</div>
<div>
    <h4> Where to Meet </h4>
    <p>Preferred Meeting Time:
        <%= @user.preferred_start_time.strftime("%I:%M %p") %> -
        <%= @user.preferred_end_time.strftime("%I:%M %p")  %>
    </p>
    <p>Preferred Pick-Up Day:
        <%= @user.donor.pickup_days %>
        <p>Preferred Location:</p>
</div>
<ul class="list-inline tabs-underlined">
    <li>
        <%= link_to "Listings", user_foods_path(@user), remote: true, id: "listings", class: "tab-underlined active" %>
    </li>
    <li>
        <%= link_to "Reviews", user_reviews_path(@user), remote: true, id: "reviews", class: "tab-underlined" %>
    </li>
</ul>
<div class="tab-content">
    <% if @user.foods.any? %>
    <%= render 'foods/card', user: @user %>
    <% else %>
    <p> No listings yet </p>
    <% end %>
</div>
