<% if user_signed_in? %>
<div class="footer d-flex justify-content-around align-items-center">
    <div>
        <%= link_to "Explore", root_path, class: "btn btn-primary"  %>
    </div>
    <div>
        <% if current_user.donor.nil? %>
        <%= link_to "Create Food", new_donor_path, class: "btn btn-primary" %>
        <% else %>
        <%= link_to "Create Food", new_food_path, class: "btn btn-primary" %>
        <% end %>
    </div>
    <div>
        <%= link_to user_donations_path(current_user), class: "btn btn-primary" do %>
        Messages <span class="badge badge-info">
            <%= current_user.unread_messages.count %>
            <% link_to donations_path %></span>
        <% end %>
    </div>
</div>
<% end %>
