<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <form>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div id="navbarSupportedContent">
    <ul class="mr-auto">
      <% if user_signed_in? %>
        <div class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to link_to "User Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Explore", root_path,  class: "dropdown-item" %>
            <div>
                     <% if current_user.donor.nil? %>
                <%= link_to "Create Food", new_donor_path, class: "dropdown-item" %>
                <% else %>
                 <%= link_to "Create Food", new_food_path, class: "dropdown-item" %>
                <% end %>
            </div>
            <%= link_to "Messages", user_donations_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </ul>
  </div>
    
</div>
