<div class="container">
    <div class="container-header">
        <h2>My conversations</h2>
    </div>
    <% @conversations.each do |donation| %>
    <% unless donation.messages.empty?  %>
    <%= link_to donation_messages_path(donation) do %>
    <div class="convo-card">
        <div>
            <%= cl_image_tag donation.food.photo, class: "avatar-sm m-2" %>
        </div>
        <div>
            <p>
                <strong>
                    <%= donation.food.name %> by
                    <%= donation.food.donor.user.username %>
                </strong>
                <% if donation.confirmed %>
                (Confirmed)
                <% else %>
                (Unconfirmed)
                <% end %>
            </p>
            <p>
                <% unless donation.messages.empty?  %>
                <strong><%= donation.messages.last.user.username %></strong>
                <%= donation.messages.last.content %>
                
                <% end %>
            </p>
        </div>
        <div>
          <button type="button" class="fas fa-comment-alt d-flex align-items-center">
              <span class="badge badge-light mx-1"><%= donation.messages.where(read: false, receiving_user_id: current_user).count %></span> 
            </button>
        </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
</div>
