<div class="container-header">
    <h2>My Chats</h2>
</div>
<% @conversations.each do |donation| %>
<% unless donation.messages.empty?  %>
<div class="chat-card d-flex flex-column bd-highlight m-3">
    <%= link_to donation_messages_path(donation) do %>
    <div class="d-flex justify-content-between pb-2">
        <div>
            <h4>
                <%= donation.food.donor.user.username %>
            </h4>
        </div>
        <div>
            <h4>
                <%= Message.last.message_time %>
            </h4>
        </div>
    </div>
    <div class="d-flex">
        <div>
            <%= cl_image_tag donation.food.photo, class: "food-mid mr-3 mb-3" %>
        </div>
        <div>
            <strong>
                <%= donation.food.name %></strong>
            <% if donation.confirmed %>
            <h6><span class="badge badge-pill badge-info">confirmed</span></h6>
            <% else %>
            <h6><span class="badge badge-pill badge-secondary">unconfirmed</span></h6>
            <% end %>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <% unless donation.messages.empty?  %>
            <%= donation.messages.last.content %>
            <% end %>
        </div>
        <%if donation.messages.where(read: false, receiving_user_id: current_user).count != 0 %>
        <div class="badge badge-pill badge-secondary"></div>
        <% end %>
    </div>
</div>
<% end %>
<% end %>
<% end %>
