<div class="form">
<h2 class="text-center">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
        <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <p style="font-size:14px;">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot password", new_password_path(resource_name) %><br />
        <% end %>
      </p>
    </div>
    <div class="form-actions" style="text-align:center;">
        <%= f.button :submit, "Log in", class: "btn-primary"  %><br><br/>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class: "btn-secondary"%><br />
        <% end %>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
</div>


