  <div class="container">
    <h1><strong>Save Anna</strong></h1>
    <p>Give Food a Second Life.</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="cards-scrolling-wrapper">
      <% @categories.each do |category| %>
      <%= link_to root_path(category_name: category.name) do%>
      <div class="card-category" style="color: white; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= category.name %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="container-header">
      <h2>Listings near you</h2>
    </div>
    <% @foods.each do |food| %>
      <% unless food.donations.find_by_confirmed(true) %>
        <%= link_to food_path(food) do%>
          <div class="card-hori">
            <div class="card-photo">
              <%= cl_image_tag food.photo%>
            </div>
            <div class="card-content">
              <h2><%= food.name %></h2>
              <p><%= food.donor.full_name %></p>
            </div>

            <div class="card-avatar">
            </div>

            <div class="ratings">
            </div>

            <div class="distance">
            </div>

          </div>
        <% end %>
    <% end %>
    <% end %>
  </div>
</div>
</div>

<div class="footer text-center">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <div class="footer-copyright">
      <p><i class="fas fa-heart"></i> Save Anna.</p>
    </div>
  </div>
