<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Upload a new food</h1>

      <%= simple_form_for @food do |f| %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :name %>
        <%= f.input :description, as: :text %>
        <%= f.input :purchase_date %>
        <%= f.association :categories, as: :check_boxes, include_blank: false, include_hidden:false %>
        <%= f.input :location %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
