<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <%= cl_image_tag @food.photo, height: 300, width: 400, crop: :fill %>
      </div>
      
      <div>
      <div><%= @food.name %></div>
      <div>Date of Purchase: <%= @food.purchase_date%></div>
      <div><%= @food.description %></div>
      </div>








<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
    </div>
  </div>
</div>






