<div class="food-background" style="background-image: url('<%= cl_image_path @food.photo%>')">
</div>
<div class="food-panel pb-5">
    <div class="food-categories">
        <% if @food.categories.empty? %>
        <% else %>
        <% @food.categories.each do |category| %>
        <div class="food-category mr-1">
            <%= category.name %>
        </div>
        <% end %>
        <% end %>
    </div>
    <h3>
        <%= @food.name %>
    </h3>
    <p>
        <%= @food.description %>
    </p>
    <p>Date of Purchase:
        <%= @food.purchase_date%>
    </p>
    <div class="d-flex align-items-center flex-row mb-3">
        <div class="p-2 ">
            <img src="<%= cl_image_path @user.photo, height: 300, width: 300, crop: :fill %>" class="avatar-mid">
        </div>
        <div class="p-2">
            <strong>
                <%= link_to user_path(@user) do  %>
                <%= @user.username  %>
                <% end %></strong>
            <%= render 'users/ratings', user: @user %>
        </div>
    </div>
    <p><i class="far fa-clock"></i>
        <% if @user.preferred_start_time %>
        <%= @user.preferred_start_time.strftime("%I:%M %p") %> -
        <% else %>
        No preference set yet
        <% end %>
        <% if @user.preferred_end_time %>
        <%= @user.preferred_end_time.strftime("%I:%M %p")  %>
        <% end %>
    </p>
    <p><i class="far fa-calendar-alt"></i>
        <% if @user.pickup_days %>
        <%= @user.pickup_days.join(", ") %>
        <% else %>
        No preferred days set yet
        <% end %>
        <div class="mb-3"><i class="fas fa-map-marker-alt"></i> Click the map to see where to meet! </div>
        <div id="map" style="width: 100%;
        height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <div class="d-flex justify-content-around w-100">
            <% if @user == current_user %>
            <%= link_to "Edit", edit_food_path, class:"btn btn-primary w-100 mt-3" %>
            <% else %>
            <%= link_to "Chat", food_messages_path(@food), class:"btn btn-primary w-100 my-3" %>
            <% end %>
        </div>
</div>
