<div class="food-background" style="background-image: url(<%= cl_image_path @food.photo%>)">
</div>
<div class="panel food-panel">
    <h3>
        <%= @food.name %>
    </h3>
    <p>
        <%= @food.description %>
    </p>
    <p>Date of Purchase:
        <%= @food.purchase_date%>
    </p>
    <div class="d-flex align-items-center flex-row mb-3">
        <div class="p-2 ">
            <img src="<%= cl_image_path @user.photo, height: 300, width: 300, crop: :fill %>" class="avatar-mid">
        </div>
        <div class="p-2">
            <p><strong>
                    <%= @user.username  %>
            </p></strong>
            <p><%= render 'users/ratings', user: @user %></p>
        </div>
    </div>

    <p>Categories:
        <% if @food.categories.empty? %>
        No category set yet
        <% else %>
        <% @food.categories.each do |category| %>
        <%= category.name %>
        <% end %>
        <% end %>
    </p>
    <p>Preferred Meeting Time:
        <% if @user.preferred_start_time %>
        <%= @user.preferred_start_time.strftime("%I:%M %p") %> -
        <% else %>
        No preference set yet
        <% end %>
        <% if @user.preferred_end_time %>
        <%= @user.preferred_end_time.strftime("%I:%M %p")  %>
        <% end %>
    </p>
    <p>Preferred Pick-Up Day:
        <% if @user.pickup_days %>
        <%= @user.pickup_days.join(", ") %>
        <% else %>
        No preferred days set yet
        <% end %>
    </p>
    <p>Preferred Location:</p>
    <div id="map" style="width: 100%;
        height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="d-flex justify-content-around">
        <% if @user == current_user %>
        <%= link_to "Edit", edit_food_path, class:"btn btn-primary" %>
        <% else %>
        <%= link_to "Chat", food_messages_path(@food), class:"btn btn-primary" %>
        <% end %>
    </div>
</div>
